<section id="footer" class="p-4 mt-auto">
  <div class="footer-info text-center">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.erural.net/assets/logos/erural_color-29185a2792a68a60c53900c81e4b9d1cf8486c1cb2d6bfbde78ee28a037e5ebb.svg" %>
    <% end %>
  </div>
</section>
