<main class="container px-4 py-0">

  <div class="row pt-2">

    <div class="col-12 col-lg-3 pt-5 p-2">
      <div class="form-card p-5 b-round">
        <h4>Salas</h4>

        <div>
          <% @videorooms.each_with_index do |videoroom, index| %>
            <%= link_to videoroom_path(videoroom), class: "a-style-none" do %>
              <p class="video-list-item mb-1"><%= index + 1 %>. <%= videoroom.name %></p>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>

    <div class="col-12 col-lg-6">
      <%= render "videorooms/new", videoroom: @videoroom %>
    </div>

  </div>

</main>
